PORT=8000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=app
DB_USER=postgres
DB_PASSWORD=postgres
NODE_ENV=development
CORS_ORIGIN=
JWT_SECRET=157881c6491181589cfd79360eabe0da26a0c44af71130fe2f97c7caba7adc6b
JWT_EXPIRES_IN=7d
